# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django files
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Frontend dependencies and builds
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
